# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

# specific path build
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - config/dev-tap/tas-java-web-app/*
pool:
  vmImage: ubuntu-latest
stages:
 - stage: Deploy
   jobs:
   - job: Deploy
     steps:
     - task: CloudFoundryCLIInstall@0
       inputs:
        cfVersion: '6.43.0'
     - task: CloudFoundry@1
       inputs:
         cfEndpoint: 'tas'
         skipSSLValidation: true
         org: 'dev'
         space: 'tap'
         deploymentOptions: 'manifest'
         cfManifest: 'config/dev-tap/tas-java-web-app/delivery.yml'
         createServices: false
         bindServices: false
     
