apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generatorOptions:
  disableNameSuffixHash: true

resources:
- apiDescriptor.yml
- delivery.yml

configMapGenerator:
- name: custom-vars
  files:
  - properties.yml

patchesStrategicMerge:
- override.yml