apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: steeltoe-weather
  labels:
    app.kubernetes.io/part-of: steeltoe-weather
    apps.tanzu.vmware.com/has-tests: "true"
    apps.tanzu.vmware.com/workload-type: web
    kapp.k14s.io/app: "1655842000127906348"
    kapp.k14s.io/association: v1.ac7aa90800cb21f251150152ef6d6f7f
    tanzu.app.live.view: "true"
    tanzu.app.live.view.application.flavours: steeltoe
    tanzu.app.live.view.application.name: steeltoe-weatherforecast
    app.kubernetes.io/component: run
    carto.run/workload-name: steeltoe-weather
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "1"
        conventions.apps.tanzu.vmware.com/applied-conventions: ""
        developer.conventions/target-containers: workload
        kapp.k14s.io/identity: v1;dev-tap/carto.run/Workload/steeltoe-weather;carto.run/v1alpha1
        kapp.k14s.io/original: '{"apiVersion":"carto.run/v1alpha1","kind":"Workload","metadata":{"labels":{"app.kubernetes.io/part-of":"steeltoe-weather","apps.tanzu.vmware.com/has-tests":"true","apps.tanzu.vmware.com/workload-type":"web","kapp.k14s.io/app":"1655842000127906348","kapp.k14s.io/association":"v1.ac7aa90800cb21f251150152ef6d6f7f","tanzu.app.live.view":"true","tanzu.app.live.view.application.flavours":"steeltoe","tanzu.app.live.view.application.name":"steeltoe-weatherforecast"},"name":"steeltoe-weather","namespace":"dev-tap"},"spec":{"params":[{"name":"annotations","value":{"autoscaling.knative.dev/minScale":"1"}},{"name":"gitops_repository","value":"https://github.com/warroyo/tap-gitops"},{"name":"gitops_branch","value":"main"}],"source":{"git":{"ref":{"branch":"main"},"url":"https://github.com/sample-accelerators/steeltoe-weatherforecast"}}}}'
        kapp.k14s.io/original-diff-md5: c6e94dc94aed3401b5d0f26ed6c0bff3
      labels:
        app.kubernetes.io/component: run
        app.kubernetes.io/part-of: steeltoe-weather
        apps.tanzu.vmware.com/has-tests: "true"
        apps.tanzu.vmware.com/workload-type: web
        carto.run/workload-name: steeltoe-weather
        kapp.k14s.io/app: "1655842000127906348"
        kapp.k14s.io/association: v1.ac7aa90800cb21f251150152ef6d6f7f
        tanzu.app.live.view: "true"
        tanzu.app.live.view.application.flavours: steeltoe
        tanzu.app.live.view.application.name: steeltoe-weatherforecast
    spec:
      containers:
      - env:
        - name: JAVA_TOOL_OPTIONS
          value: -Dmanagement.endpoint.health.probes.add-additional-paths="true" -Dmanagement.health.probes.enabled="true"
        image: dev.registry.pivotal.io/warroyo/supply-chain/steeltoe-weather-dev-tap@sha256:bd6d031014f4e6590bf18c14474ea12bddc15f9e68f77ffdd16460f844502d7f
        name: workload
        resources: {}
        securityContext:
          runAsUser: 1000
      serviceAccountName: default

