apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: basic-app
  annotations:
    ootb.apps.tanzu.vmware.com/servicebinding-workload: "true"
    ootb.apps.tanzu.vmware.com/apidescriptor-ref: "true"
  labels:
    app.kubernetes.io/part-of: basic-app
    apps.tanzu.vmware.com/workload-type: basic
    kapp.k14s.io/app: "1655842000127906348"
    kapp.k14s.io/association: v1.58c5432e8cb2fe93c9d6e790445a200a
    app.kubernetes.io/component: run
    carto.run/workload-name: basic-app
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "1"
        conventions.carto.run/applied-conventions: appliveview-sample/app-live-view-appflavour-check
        developer.conventions/target-containers: workload
        kapp.k14s.io/identity: v1;dev-tap/carto.run/Workload/basic-app;carto.run/v1alpha1
        kapp.k14s.io/original: '{"apiVersion":"carto.run/v1alpha1","kind":"Workload","metadata":{"labels":{"app.kubernetes.io/part-of":"basic-app","apps.tanzu.vmware.com/workload-type":"basic","kapp.k14s.io/app":"1655842000127906348","kapp.k14s.io/association":"v1.58c5432e8cb2fe93c9d6e790445a200a"},"name":"basic-app","namespace":"dev-tap"},"spec":{"params":[{"name":"annotations","value":{"autoscaling.knative.dev/minScale":"1"}},{"name":"gitops_repository","value":"https://github.com/warroyo/tap-gitops"},{"name":"gitops_branch","value":"main"}],"source":{"git":{"ref":{"branch":"main"},"url":"https://github.com/warroyo/tanzu-java-web-app-gitops"}}}}'
        kapp.k14s.io/original-diff-md5: c6e94dc94aed3401b5d0f26ed6c0bff3
      labels:
        app.kubernetes.io/component: run
        app.kubernetes.io/part-of: basic-app
        apps.tanzu.vmware.com/workload-type: basic
        carto.run/workload-name: basic-app
        kapp.k14s.io/app: "1655842000127906348"
        kapp.k14s.io/association: v1.58c5432e8cb2fe93c9d6e790445a200a
    spec:
      containers:
      - image: dev.registry.pivotal.io/warroyo/supply-chain/basic-app-dev-tap@sha256:4590b4f197b13548e4aa42487d0004f0aea8568ce7f0fc4f8ad0848913e63dfa
        name: workload
        resources: {}
        securityContext:
          runAsUser: 1000
      serviceAccountName: default

